/* FILEPATH: /C:/git/My-Game-Tracker/style.css */

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set font family and size */
body {
    background-color: #292b2f;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* Style the header */
.header {
    cursor: default;
    background-color: #202225;
    color: #fff;
    padding: 10px;
    display: flex;
}

/* Style the left_nav */
.left_nav {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 40vw;
}

.right_nav {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
}

.left_nav li {
    margin-right: 10px;
    min-width: 65px;
}

.right_nav input{
    width: 160px;
}

.right_nav button{
    width: 40px;
}

.right_nav li {
    margin-left: 10px;
    min-width: 210px;
}

.left_nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.right_nav a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
}


.right_nav input[type="text"] {
    background-color: #292b2f;
    color: #fff;
    border-color: #292b2f;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
}

.right_nav button[type="submit"] {
    padding: 5px;
    background-color: #292b2f;
    color: #fff;
    border-color: #292b2f;
    border-radius: 10px;
}

/* Style the main content */
.main {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
}

.main h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

.main h2 {
    color: #fff;
}

.main p {
    color: #fff;
}

.gallery {
    margin-bottom: 40px;
}

.gallery h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.scrolling-list {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    background-color: #292b2f;
    padding: 3%;
}

.scrolling-list img {
    max-width: 200px;
    padding: 5%;
}

.scrolling-list p {
    text-align: center;
}

.trending-topics {
    color: #fff;
    margin: 10px;
    background-color: #2f3136;
}

.trending-topics ul{
    background-color: #2f3136;
}

.trending-topics li{
    color: #fff;
}

.trending-topics a {
    color: #fff;
}


/* 

Login Page Style

*/

.container {
    display: flex;
    justify-content: space-between;
}
.left-column {
    width: 20%;
}
.right-column {
    width: 20%;
}
.middle-column {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label{
    color: #fff;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.form-container form {
    margin: 0 20px;
}